{% extends 'catalog/base.html' %}
{% block content %}
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">

            <div class="col-6">
                <div class="card-6">
                    <div class="card-header">
                        <h3 class="card-title mb-5 ">Добавить товар</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </form>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-6">
                  <div class="card">
                          <div class="card-header">
                              <h3 class="card-title">
                                 Версия
                              </h3>
                          </div>
                          <div class="card-body">
                              {{ version.management_form }}
                              {% for v in version.forms %}
                                    {{ v.as_p }}
                              {% endfor %}
                          </div>
                  </div>
            </div>
        </form>
    </div>
{% endblock %}
