{% extends 'catalog/base.html' %}
{% load tags_lib %}
{% block content %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Товары</h1>
        <p class="lead text-body-secondary">приветствие</p>
        </p>
      </div>
    </div>
  </section>

    <div class="p-5 row featurette">
      <div class="col-md-5 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">{{ product.name|title }}<span class="text-body-secondary">  - Это ваш выбор!</span></h2>
        <p class="lead">{{ product.description|title }}</p>
      </div>
      <div class="p-6 col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid" width="500" height="500" src="{% mediapath product.image %}">
          <text fill="var(--bs-secondary-color)">{{ product.price|title }} руб.</text>
        </img>
          <div class="col">
              <a href="{% url 'catalog:home' %}" type="button" class="w-100 btn btn-lg btn-outline-primary">← </a>
          </div>
      </div>
    </div>
</main>
{% endblock %}
